<a href="https://colab.research.google.com/github/HarshKumar67/HarshKumar67-Language-Detection-Model/blob/main/Language_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import numpy as np
import pandas as pd

In [17]:
data=pd.read_csv('/language.csv')

In [18]:
data.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

## CountVectorizer, it does the main work of converts a collection of text documents into a matrix of token counts (bag-of-words model).
## It transforms text into numerical feature vectors that can be used in machine learning models.

In [20]:
# create a CountVectorizer object
vectorizer = CountVectorizer()

#sample text data
data2= ["love data science", "love machine learning "]

# fit the vectorizer and transform the data
vectorized_data = vectorizer.fit_transform(data2)

# get the vocabulary (unique words)
print(vectorizer.get_feature_names_out())

# print the vectorized data
print(vectorized_data.toarray())

# NOTE : BAG OF WORDS ONLY FOCUSES ON WORDS NOT ITS SEQUENCE AND ODERING

['data' 'learning' 'love' 'machine' 'science']
[[1 0 1 0 1]
 [0 1 1 1 0]]

NOW WE HAVE TO CREATE `BAG OF WORDS FOR ENTIRE DATASET` .

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [22]:
data

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 2 columns]

In [24]:
data.isnull().sum()

Text        0
language    0
dtype: int64

In [30]:
data['language'].value_counts()

language
Estonian      1000
Swedish       1000
Thai          1000
Tamil         1000
Dutch         1000
Japanese      1000
Turkish       1000
Latin         1000
Urdu          1000
Indonesian    1000
Portugese     1000
French        1000
Chinese       1000
Korean        1000
Hindi         1000
Spanish       1000
Pushto        1000
Persian       1000
Romanian      1000
Russian       1000
English       1000
Arabic        1000
Name: count, dtype: int64

In [31]:
x=np.array(data['Text'])
y=np.array(data['language'])

In [32]:
print (x), print(y)

['klement gottwaldi surnukeha palsameeriti ning paigutati mausoleumi surnukeha oli aga liiga hilja ja oskamatult palsameeritud ning hakkas ilmutama lagunemise tundemärke  aastal viidi ta surnukeha mausoleumist ära ja kremeeriti zlíni linn kandis aastatel – nime gottwaldov ukrainas harkivi oblastis kandis zmiivi linn aastatel – nime gotvald'
 'sebes joseph pereira thomas  på eng the jesuits and the sino-russian treaty of nerchinsk  the diary of thomas pereira bibliotheca instituti historici s i --   rome libris '
 'ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เริ่มตั้งแต่ถนนสนามไชยถึงแม่น้ำเจ้าพระยาที่ถนนตก กรุงเทพมหานคร เป็นถนนรุ่นแรกที่ใช้เทคนิคการสร้างแบบตะวันตก ปัจจุบันผ่านพื้นที่เขตพระนคร เขตป้อมปราบศัตรูพ่าย เขตสัมพันธวงศ์ เขตบางรัก เขตสาทร และเขตบางคอแหลม'
 ...
 'con motivo de la celebración del septuagésimoquinto ° aniversario de la fundación del departamento en  guillermo ceballos espinosa presentó a la gobernación de caldas por encargo de su titular dilia estrada de gómez el himno que fue adoptado para solemnizar dicha efemérides y que siguieron interpretando las bandas de música y los planteles de educación de esta sección del país en retretas y actos oficiales con gran aceptación[]\u200b'
 '年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由美國的獨立廠牌bip·record發行，以外國輸入盤的形式在日本發售，旋即被抢购一空。其後於月日發行以倉木麻衣名義發行的首張日文單曲《love day after tomorrow》，正式於日本出道。這張單曲初動銷量只得約萬張，可是其後每週銷量一直上升，並於年月正式突破百萬銷量，合计万张。成為年最耀眼的新人歌手。'
 ' aprilie sonda spațială messenger a nasa și-a încheiat misiunea de studiu de  ani prăbușindu-se pe suprafața planetei mercur sonda a rămas fără combustibil fiind împinsă de gravitația solară din ce în ce mai aproape de mercur']
['Estonian' 'Swedish' 'Thai' ... 'Spanish' 'Chinese' 'Romanian']

(None, None)

now text wala column (x ki bat ho rhi h ) ka BAG OF WORDS banega. ARRAY => NUMBERS

In [33]:
cv = CountVectorizer()
X = cv.fit_transform(x)

In [38]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [39]:
X_train

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 641040 stored elements and shape (15400, 277720)>

In [40]:
print(X_train)

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 641040 stored elements and shape (15400, 277720)>
  Coords	Values
  (0, 276053)	1
  (0, 260078)	1
  (0, 266346)	1
  (0, 260919)	1
  (0, 260917)	1
  (0, 254158)	1
  (0, 269009)	1
  (0, 258374)	1
  (0, 14298)	1
  (0, 250117)	1
  (0, 260885)	1
  (0, 269136)	1
  (0, 267704)	2
  (0, 250069)	1
  (0, 272220)	1
  (0, 271381)	1
  (0, 266762)	1
  (0, 276746)	1
  (0, 259200)	1
  (0, 272666)	1
  (0, 260899)	1
  (0, 262785)	1
  (0, 268585)	1
  (0, 259095)	1
  (0, 259311)	1
  :	:
  (15398, 188817)	1
  (15398, 192004)	1
  (15398, 157171)	1
  (15398, 190346)	1
  (15398, 190725)	1
  (15398, 189685)	1
  (15398, 159269)	2
  (15398, 145431)	1
  (15398, 173292)	1
  (15398, 176062)	1
  (15398, 159959)	1
  (15398, 190198)	1
  (15398, 167124)	1
  (15398, 168158)	1
  (15398, 180260)	2
  (15398, 153262)	1
  (15398, 162150)	1
  (15398, 153355)	1
  (15398, 178104)	1
  (15398, 163770)	1
  (15399, 223002)	1
  (15399, 235170)	1
  (15399, 222446)	1
  (15399, 221922)	1
  (15399, 242446)	1

In [41]:
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9528787878787879

In [45]:
user =input ( "Enter a Text: " )
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text: ถนนเจริญกรุง อักษรโรมัน
['Thai']